<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyznotes.h5.template.dao.TemplateMapper">
    <cache flushInterval="300000" />

    <insert id="save" parameterType="Template" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO template
      (name, cover, created_date, template_group_id, use_count, music_path, music_name, state, is_delete,user_id, pages, is_public)
    VALUES
      (#{name}, #{cover}, #{createdDate}, #{templateGroupId}, 0, #{musicPath}, #{musicName},#{state},0,#{userId}, #{pages}, #{public})
    </insert>

    <update id="update" parameterType="Template">
        UPDATE template
        SET name=#{name}, cover=#{cover}, pages=#{pages}, template_group_id=#{templateGroupId}, music_path=#{musicPath}, music_name=#{musicName}, state=#{state}
        WHERE id=#{id}
    </update>

    <select id="findById" parameterType="Integer" resultType="Template">
        SELECT
        *
        FROM template
        WHERE template.id = #{id}
    </select>


    <select id="list" parameterType="com.xyznotes.h5.common.Criteria" resultType="Template">
        SELECT
        template.id as id,
        name,
        cover,
        created_date,
        template.use_count as tUserCount,
        template_group_id as templateGroupId,
        template_group.parent_id as parentId,
        state,
        pages,
        music_path,
        music_name,
        user_id
        FROM template
        LEFT JOIN template_group ON template.template_group_id = template_group.id
        <where>
            template.is_delete = 0
            <if test="conditionMap.name!=null">AND name LIKE concat('%',#{conditionMap.name},'%')</if>
            <if test="conditionMap.is_public!=null">AND template.is_public = #{conditionMap.is_public}</if>
            <if test="conditionMap.userId!=null">AND user_id = #{conditionMap.userId}</if>
            <if test="conditionMap.state!=null">AND state = 1</if>
            <if test="conditionMap.templateGroupId!=null">AND template_group_id IN
                <foreach collection="conditionMap.templateGroupId" item="templateGroupId" index="index" open="(" close=")" separator=",">
                    #{templateGroupId}
                </foreach>
            </if>
        </where>
        <if test="orderName!=null">ORDER BY template.${orderName} ${orderDir}</if>
        <if test="start != null and pageSize != null">LIMIT #{start},#{pageSize}</if>
    </select>

    <select id="count" parameterType="com.xyznotes.h5.common.Criteria" resultType="long">
        SELECT
        count(*)
        FROM template
        LEFT JOIN template_group ON template.template_group_id = template_group.id
        <where>
            template.is_delete = 0
            <if test="conditionMap.name!=null">AND name LIKE concat('%',#{conditionMap.name},'%')</if>
            <if test="conditionMap.is_public!=null">AND template.is_public = #{conditionMap.is_public}</if>
            <if test="conditionMap.userId!=null">AND user_id = #{conditionMap.userId}</if>
            <if test="conditionMap.state!=null">AND state = 1</if>
            <if test="conditionMap.templateGroupId!=null">AND template_group_id IN
                <foreach collection="conditionMap.templateGroupId" item="templateGroupId" index="index" open="(" close=")" separator=",">
                    #{templateGroupId}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateUseCount" parameterType="Integer">
        UPDATE template
        SET use_count = use_count +1
        WHERE id = #{param1}
    </update>

    <update id="updateState" parameterType="Integer">
        UPDATE template
        SET state = 1
        where id = #{id}
    </update>

    <update id="delete" parameterType="Template">
        UPDATE template
        SET is_delete = 1
        WHERE id = #{id}
    </update>

</mapper>