.fillBlankItem{
    .inputClass{
        width: 60px;
        height: 30px;
        border: none;
        text-align: center;
        border-bottom: solid 1px #505766;
    }
    .addSelect{
        outline: none!important;
        min-width: 100px;
        height: 30px;
        line-height: 30px;
        background: #f7f7f7;
        color: #7B818F;
        text-align: center;
    }
    .index{
        position: absolute;
        left:0;
        top: -2px;
        font-size: 10px;
    }
}


.sortitem{
    .inputClass{
        width: 70px;
        height: 30px;
        line-height: 30px;
        border: none;
         text-align: center;
        border-bottom: solid 1px #505766;
    }
    
    .index{
        position: absolute;
        left:0;
        top: -2px;
        font-size: 10px;
    }
}
.TestConfirm {
    width: 272px;
    height: 45px;
    background:#ccc;
    cursor:pointer;
    position:absolute;
    line-height:45px;
    text-align:center; 
    border-radius:88px;
    color:#fff;
    font-size:15px;
    left:50%;
    margin-left:-136px;
    top:390px;
 }
.addSelect {
    .tiankongAlong:last-child {
        span:last-child {
             display: none;
        }
     }
}

.currentPage {
    .Select-control{
        margin-left: 0;
        color: inherit;
    }
    .Select-menu-outer{
        width: 100%;
    }
    .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label{
        color: inherit;
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value{
        color: inherit;
    }
}
