.cropDialog{
    
    .cropper-bg{
        background: rgba(59,66,82,0.35);
    }
    .cropFooter{
        text-align: right;

        button{
            width: 150px;
            height: 40px;
            background: #00BCD3;
            border-radius: 6px;
            margin: 40px;
            color: #FFFFFF;
        }
    }
}
