<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyznotes.h5.image.dao.ImageMapper">
    <insert id="save" parameterType="Image" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image
        (name, path, created_date, category_id, is_public, user_Id)
        VALUES
        (#{name}, #{path} ,#{createdDate}, #{category.id}, #{public}, #{userId})
    </insert>

    <select id="list" parameterType="com.xyznotes.h5.common.Criteria" resultMap="imageDetails">
        SELECT
        image.id as imageId,
        image.name as imageName,
        image.path as imagePath,
        image.created_date as createdDate,
        image.is_public as isPublic,
        category.name as categoryName
        FROM image LEFT JOIN category
        ON image.category_id = category.id
        <where>
            <if test="conditionMap.category_id!=null"> category_id = #{conditionMap.category_id}</if>
            <if test="conditionMap.is_public!=null"> AND is_public = #{conditionMap.is_public}</if>
            <if test="conditionMap.user_id!=null"> AND user_id = #{conditionMap.user_id}</if>
            <if test="conditionMap.keyword!=null"> AND image.name LIKE CONCAT('%', #{conditionMap.keyword}, '%')</if>
        </where>
        ORDER BY createdDate desc
        <if test="start != null and pageSize != null">LIMIT #{start},#{pageSize}</if>
    </select>

    <resultMap id="imageDetails" type="Image">
        <id property="id" column="imageId"/>
        <result property="name" column="imageName"/>
        <result property="path" column="imagePath"/>
        <result property="createdDate" column="createdDate"/>
        <result property="isPublic" column="isPublic"/>
        <association property="category" javaType="Category">
            <result property="name" column="categoryName"/>
        </association>
    </resultMap>

    <select id="count" parameterType="com.xyznotes.h5.common.Criteria" resultType="long">
        SELECT
        count(*)
        FROM image LEFT JOIN category
        ON image.category_id = category.id
        <where>
            <if test="conditionMap.category_id!=null"> category_id = #{conditionMap.category_id}</if>
            <if test="conditionMap.is_public!=null"> AND is_public = #{conditionMap.is_public}</if>
            <if test="conditionMap.user_id!=null"> AND user_id = #{conditionMap.user_id}</if>
            <if test="conditionMap.keyword!=null"> AND image.name LIKE CONCAT('%', #{conditionMap.keyword}, '%')</if>
        </where>
    </select>

    <update id="update" parameterType="Image">
        UPDATE image
        SET category_id=#{category.id}, is_public=#{isPublic}
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM image
        WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="Integer" resultType="Image">
        SELECT * FROM image
        WHERE id = #{id}
    </select>

</mapper>