@import "../../../common/css/default";
.shapePanelBody{
    .color{
        margin-bottom: 10px;
        span{
            width: 100px;
            height: 30px;
            border: solid 1px #CBD0DA;
            margin-left: 20px;
            border-radius: 4px 0 0 4px;
            border-right: none;
        }
        .colorBtn{
            width: 45px;
            height: 32px;
            border: solid 1px #CBD0DA;
            border-radius: 4px;
            margin-left: -2px;
            background: @white;
        }
    }
    .shapeList > div{
        width: 33.3%;
        text-align: center;
        margin: 0 0 40px 0;
    }
    .line{
        margin: 25px 0;
        .inputClass{
            width: 137px;
            height: 28px;
            border: solid 1px @black;
            border-radius: 6px;
            font-size: 14px;
            color: @black;
        }
        .width, .height{
            width: 125px;
            height: 30px;
            border: solid 1px @black;
            border-radius: 6px;
            .inputClass{
                width: 60px;
                height: 28px;
                border: none;
                font-size: 14px;
                color: @black;
                text-align: center;
            }
        }
        .Select-control {
            width:137px;
            height:28px;
            border: solid 1px @black;
        }
        .Select-menu .Select-option{
            text-align: left;
            border-bottom: none;
        }
        .Select-menu-outer{
            width: 137px;
            left: 30px;
        }
        
    }
    .opacity{
        .rc-slider{
            width: 50%;
        }
        span{
            display: inline-block; width: 30px;
            text-align: right;
        }
    }
    .border{
        .Select-control {
            width:50px;
            height:28px;
            border: solid 1px @black;
            margin:0 5px 0 0;
        }
        .Select-menu .Select-option{
            text-align: left;
            border-bottom: none;
        }
        .Select-menu-outer{
            width: 50px;
            left: 0;
        }
        .colorDiv{
            width: 100px;
            height: 28px;
            border: solid 1px #CBD0DA;
            border-radius: 4px 0 0 4px;
            border-right: none;
            margin-left:10px
        }
        .colorBtn{
            width: 45px;
            height: 30px;
            border: solid 1px #CBD0DA;
            border-radius: 4px;
            margin-left: -2px;
            background: @white;
        }
    }
    .defaultColor{
        width: 100%;
    }
    .colorItem{
        width: 26px;
        height: 26px;
        margin: 12px 10px 0 0;
        border: 1px solid #CBD0DA;
        border-radius: 6px;
    }
    .rc-slider-track{
        background-color: @black;
    }
    .rc-slider-handle{
        border: solid 2px @black;
    }
}
