<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyznotes.h5.category.dao.CategoryMapper">
    <cache flushInterval="300000" />

    <insert id="save" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category
        (name, category_no, parent_id, type)
        VALUES
        (#{name}, #{categoryNo} ,#{parentId}, #{type})
    </insert>

    <select id="findAllCategory" resultMap="categoryDetails">
        SELECT
        *
        FROM category
    </select>

    <resultMap id="categoryDetails" type="Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryNo" column="category_no"/>
        <result property="type" column="type"/>
        <association property="parent" javaType="Category">
            <id property="id" column="parent_id"/>
        </association>
    </resultMap>

    <select id="findByParent" resultType="Category" parameterType="Integer">
        SELECT
        id,
        name,
        category_no,
        type,
        parent_id
        FROM category
        <where>
            <choose>
                <when test="param1!=null">
                    parent_id = #{param1}
                </when>
                <otherwise>
                    parent_id is null
                </otherwise>
            </choose>
        </where>
        ORDER BY category_no asc
    </select>

    <select id="findByParentAndType" resultType="Category">
        SELECT
        id,
        name,
        category_no,
        type,
        parent_id
        FROM category
        <where>
            <choose>
                <when test="param1!=null">
                    parent_id = #{param1}
                </when>
                <when test="param2!=null">
                    type = #{param2}
                </when>
                <otherwise>
                    parent_id is null
                </otherwise>
            </choose>
        </where>
        ORDER BY category_no asc
    </select>

    <select id="findByName" resultType="Category" parameterType="String">
        SELECT
        *
        FROM category
        WHERE name = #{name}
    </select>

    <select id="findById" resultType="Category" parameterType="Integer">
        SELECT
        *
        FROM category
        WHERE id = #{id}
    </select>

    <select id="findByCategoryNoAndType" resultType="Category">
        SELECT
        *
        FROM category
        WHERE category_no = #{param1} AND type = #{param2}
    </select>

    <update id="update" parameterType="Category">
        UPDATE category
        SET name=#{name}, category_no=#{categoryNo} , parent_id=#{parentId}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category
        WHERE id = #{param1} OR parent_id = #{param1}
    </delete>

    <select id="count" resultType="long" parameterType="Integer">
        SELECT
        count(*)
        FROM category
        <where>
            <choose>
                <when test="id!=null">
                    parent_id = #{id}
                </when>
                <otherwise>
                    parent_id is null
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>